<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title> Luru <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p class="para">
      Need help? Try visiting
      <a href="http://railstutorial.org/book"> for help</a>
    </p>
  </body>
</html>