<!DOCTYPE html>
<html>
  <head>
    <title> Luru <%= yield(:title) %></title>
  </head>
  <body>
    <h1 id="title">Welcome</h1>
    <p>
      <!--<a href="http://luru.com">Luru</a>-->
      <p id="description">Luru is a project that will make practicing a language easy.</p>
    </p>
  </body>
</html>