<!DOCTYPE html>
<html>
  <head>
    <title> Luru <%= yield(:title) %></title>
  </head>
  <body>
    <h1 id="title">Welcome</h1>
    <p>
      <!--<a href="http://luru.com">Luru</a>-->
      <p id="description">Luru is a project that will make practicing a language easy.</p>
    </p>
    <div class="container">
      <div class="jumbotron">
        <h1>Select a language below!</h1>      
        <p>Choose from the following:</p>   
        <ul>
           <li><a href="#">English</a></li>
           <li><a href="#">French</a></li>
           <li><a href="#">German</a></li>                        
        </ul>    
        <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> Begin!</a>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p>Practice using another language! Between classes, during the summer, before visiting a different country, or for fun.</p>
        </div>
        <div class="col-md-3"> 
          <p>There are several resources to brush up your vocab. Try visiting the <a href="#">Training Area.</a></p>
        </div>
        <div class="col-md-3"> 
          <p>This is a good website for people trying to learn a brand new language, as well as people who want to practice a language they already know.</p>
        </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Current Lessons</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu 1 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Submenu 1-1</a></li>
                <li><a href="#">Submenu 1-2</a></li>
                <li><a href="#">Submenu 1-3</a></li>                        
              </ul>
            </li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>